.navbar {
grid-area: navbar;

display: grid;
grid-template-columns: 20% 50% 30%;
justify-items: end;
align-items: center;
box-sizing: border-box;
height: 101px;
margin-left: -1px;
margin-top: -1px; 

background: #FFFFFF;
border: 2px solid #828286;
}
.navbar a {
    text-decoration: none;
    color: #828286;
}

.catalog {

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.05em;
cursor: pointer;

}

.comparison {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 14px;
cursor: pointer;
}

.profile {
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 14px;
letter-spacing: 0.02em;
cursor: pointer;

}
.text {
    position: relative;
    top: -10px;
}
.icon{
    position: relative;
    top: 10px;
}


